.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: black;

}

.class1 {
    color: white;
    display: flex;
    justify-content: center;
}
.nav2 {
    display: flex;
}

.nav1 {
    margin-left: 10px;
    margin-right: 40px;
}