form{
    box-sizing: border-box;
    background-color: #ffcc00;
    border: black;
    border-radius: 20px;
    padding-left: 52px;
   padding-right: 59px;
   padding-top: 150px;
   width: 519px;
   height: 500px;
   display: flex;   
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 
   
}
.form-nom{
    margin-top: 29px;
    font-size: 40px;
}

.form-email{
    margin-top: 29px;
    font-size: 40px;

}
.button{

 margin-top: 29px;
 margin-bottom: 20px;

text-align: center;
}
.message{
    margin-top: 29px;
}

.right{

  float: right;
  
  margin-right: 12px;

}